version: 2
updates:
  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: daily
      time: "10:00"
    open-pull-requests-limit: 10
    target-branch: main
  - package-ecosystem: npm
    directory: "/cargo-dist/templates/installer"
    schedule:
      interval: daily
      time: "10:00"
    target-branch: main
