[package]
name = "cargo-dist"
description = "Shippable application packaging for Rust"
version = "0.2.0-prerelease.5"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/axodotdev/cargo-dist"
readme = "../README.md"
exclude = [
  "book/*",
  "src/snapshots/*",
  "src/tests/",
  "tests/",
]

[[bin]]
name = "cargo-dist"
required-features = ["cli"]

[features]
default = ["cli"]
cli = ["clap", "axocli", "serde_json", "console", "clap-cargo"]

[dependencies]
# Features only used by the cli
clap = { version = "4.0.0", optional = true, features = ["derive"] }
serde_json = { version = "1.0.85", optional = true }
console = { version = "0.15.1", optional = true }
clap-cargo = { version = "0.10.0", optional = true }
axocli = { version = "0.1.0", optional = true }

# Features used by the cli and library
cargo-dist-schema = { version = "=0.2.0-prerelease.5", path = "../cargo-dist-schema" }
miette = { version = "5.6.0" }
thiserror = "1.0.35"
tracing = { version = "0.1.36", features = ["log"] }
serde = { version = "1.0.144", features = ["derive"] }
cargo_metadata = "0.15.0"
cruet = "0.13.3"
guppy = "0.15.0"
camino = "1.1.1"
semver = "1.0.14"
toml_edit = "0.19.0"
parse-changelog = { version = "0.5.3", default-features = false }
newline-converter = "0.2.2"
axoproject = { version = "0.4.4", default-features = false, features = ["cargo-projects"] }
dialoguer = "0.10.4"
axoasset = { version = "0.5.0", features = ["json-serde", "toml-serde", "toml-edit", "compression"] }
sha2 = "0.10.6"
minijinja = { version = "1.0.5", features = ["debug", "loader", "builtins", "json", "custom_syntax"] }
include_dir = "0.7.3"

[dev-dependencies]
insta = { version = "1.26.0", features = ["filters"] }
tar = "0.4.38"
flate2 = "1.0.24"

[package.metadata.release]
pre-release-replacements = [
  {file="../CHANGELOG.md", search="# Unreleased", replace="# Unreleased\n\nNothing Yet!\n\n\n# Version {{version}} ({{date}})", exactly=1},
]
