[package]
name = "cargo-dist-schema"
description = "Schema information for cargo-dist's dist-manifest.json"
version = "0.6.3"
edition = "2021"
license = "MIT OR Apache-2.0"
repository = "https://github.com/axodotdev/cargo-dist"
exclude = [
  "book/*",
  "src/snapshots/*",
  "src/tests/",
  "tests/",
]

[dependencies]
camino = "1.1.1"
schemars = "0.8.16"
semver = "1.0.21"
serde = { version = "1.0.194", features = ["derive"] }
serde_json = "1.0.111"
gazenot = { version = "0.2.1", default-features = false }

[dev-dependencies]
insta = "1.26.0"
