{
  "name": {{ npm_package_name }},
  "version": {{ npm_package_version }},
{%- if npm_package_desc %}
  "description": {{ npm_package_desc }},
{%- endif %}
{%- if npm_package_repository_url %}
  "repository": {{ npm_package_repository_url }},
{%- endif %}
{%- if npm_package_homepage_url %}
  "homepage": {{ npm_package_homepage_url }},
{%- endif %}
{%- if npm_package_license %}
  "license": {{ npm_package_license }},
{%- endif %}
{%- if npm_package_authors|length > 1 %}
  "contributors": {{ npm_package_authors }},
{%- elif npm_package_authors|length == 1 %}
  "author": {{ npm_package_authors[0] }},
{%- endif %}
{%- if keywords %}
  "keywords": {{ keywords }},
{%- endif %}
{%- if bin %}
  "bin": {
    {{ bin }}: "run.js"
  },
{%- endif %}
  "scripts": {
    "postinstall": "node ./install.js",
    "fmt": "prettier --write **/*.js",
    "fmt:check": "prettier --check **/*.js"
  },
  "engines": {
    "node": ">=14",
    "npm": ">=6"
  },
  "volta": {
    "node": "18.14.1",
    "npm": "9.5.0"
  },
  "dependencies": {
    "axios": "^0.26.1",
    "axios-proxy-builder": "^0.1.1",
    "console.table": "^0.10.0",
    "detect-libc": "^2.0.0",
    "rimraf": "^3.0.2",
    "tar": "^6.1.11"
  },
  "devDependencies": {
    "prettier": "2.8.4"
  }
}

